<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eurovisionedusolutions.android.rackup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />


    <permission
        android:name="com.eurovisionedusolutions.android.rackup.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.eurovisionedusolutions.android.rackup.permission.C2D_MESSAGE" />

    <application
        android:name=".VolleyController"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="sensor"
        android:theme="@style/AppTheme">
        <provider
            android:name=".Provider"
            android:authorities="com.eurovisionedusolutions.android.rackup"
            android:exported="false" />
        <provider
            android:name=".GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!--
            <activity
            android:name=".Tab_fragment"
            android:label="navigation tabs"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />
        -->
        <activity
            android:name=".FullscreenDemoActivity"
            android:label="fullscreenactivity"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".YouTubeAPIDemoActivity"
            android:label="Youtube player " />
        <!--
            <activity
            android:name=".Edit_profile"
            android:label="@string/title_activity_edit_profile"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />
        -->
        <activity
            android:name=".LoginActivity"
            android:label="@string/login"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Splash_Screen"
            android:launchMode="singleInstance"
            android:theme="@style/splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity android:name=".Forgot_Password" /> -->
        <!-- <activity android:name=".video_Call" /> -->
        <!-- <activity android:name=".Events" /> -->
        <!--
             <activity
            android:name=".BasicActivity"
            android:label="@string/title_activity_basic" />
        -->
        <!--
            <activity
            android:name=".AsynchronousActivity"
            android:label="@string/title_activity_asynchronous"></activity>
        -->
        <!--
            <activity
            android:name=".AsynchronousActivity"
            android:label="navigation tabs"
            android:launchMode="singleTask" />
        -->
        <activity
            android:name=".book_appointment"
            android:label="Confirm Appointment"
            android:theme="@style/AppTheme" />
        <activity android:name=".GCM_Example_mainActivity" />
        <!-- GCM Receiver -->
        <!-- <receiver -->
        <!-- android:name="com.google.android.gms.gcm.GcmReceiver" -->
        <!-- android:exported="true" -->
        <!-- android:permission="com.google.android.c2dm.permission.SEND"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.android.c2dm.intent.RECEIVE" /> -->


        <!-- <category android:name="com.gnirt69.gcmexample" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->


        <!-- <receiver -->
        <!-- android:name=".service.push.receiver.GcmBroadcastReceiver" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true" -->
        <!-- android:permission="com.google.android.c2dm.permission.SEND"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.android.c2dm.intent.RECEIVE" /> -->
        <!-- <category android:name="${applicationId}" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <!--<receiver-->
            <!--android:name="com.google.android.gms.gcm.GcmReceiver"-->
            <!--android:exported="true"-->
            <!--android:permission="com.google.android.c2dm.permission.SEND">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
                <!--&lt;!&ndash; <category android:name="{applicationId}" /> &ndash;&gt;-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <receiver
            android:name=".GcmMainBroadcastReceiver"
            android:exported="true"
            android:enabled="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>

        <!--&lt;!&ndash; GCM Receiver Service &ndash;&gt;-->
        <!--<service-->
            <!--android:name=".GcmBroadcastReceiver"-->
            <!--android:exported="false">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
            <!--</intent-filter>-->
        <!--</service>-->

        <!-- GCM Registration Intent Service -->
        <service
            android:name=".GCMRegistrationIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <activity android:name=".Notification_activity" />
        <!-- <activity android:name=".Feed_Activity" /> -->
        <activity
            android:name=".ImageView_for_Feed"
            android:launchMode="singleTask"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".MyAppointments_CardView"
            android:launchMode="singleTask" />
        <activity
            android:name=".WebviewActivity"
            android:label="@string/title_activity_webview"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ImageFeedViewPager"
            android:label="Image Feeds"
            android:theme="@style/CustomTheme"></activity>

        <service
            android:name=".PushReceiverIntentService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>